django>=1.10

# configuration
django-dotenv

# database
psycopg2

# data
django-import-export

# media
Pillow
django-imagekit

# api
djangorestframework
markdown
django-filter
django-cors-headers

# development
django-debug-toolbar
ipython

