# {{ nginx_appconfig_filename }}

# upstream
upstream {{ nginx_upstream_name }} {
    server {{ nginx_upstream_server }};
    keepalive {{ nginx_upstream_keepalive }};
}

{% if nginx_redirects %}
# generic redirects
{% for item in nginx_redirects %}
server {
    server_name {{ item.src }};
    return 301 {{ item.dest }}$request_uri;
}
{% endfor %}
{% endif %}

{% if nginx_force_https %}
# https redirect
server {
    listen         {{ nginx_http_port }};
    server_name    {{ nginx_server_name }};
    return         301 https://$server_name$request_uri;
}
{% endif %}


# server configuration
server {
    {% if nginx_use_ssl %}
    listen               {{ nginx_https_port }} ssl;
    ssl on;
    ssl_certificate {{ nginx_ssl_certificate }};
    ssl_certificate_key {{ nginx_ssl_certificate_key }};
    {% else %}
    listen                {{ nginx_http_port }};
    {% endif %}

    server_name           {{ nginx_server_name }};
    client_max_body_size  {{ nginx_max_body_size }};
    keepalive_timeout     {{ nginx_keepalive_timeout }};

    {% if nginx_use_gzip %}
    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types  text/plain text/css text/js text/xml text/javascript application/javascript application/x-javascript application/json application/xml application/rss+xml image/svg+xml;
    {% endif %}

    access_log {{ nginx_app_access_log }};
    error_log {{ nginx_app_error_log }};

    location {{ nginx_static_location }}  {
        alias {{ nginx_static_alias }};
    }

    location {{ nginx_media_location }} {
        add_header Access-Control-Allow-Origin *;
        alias {{ nginx_media_alias }};
    }

    location /favicon.ico {
        alias {{ nginx_favicon_alias }};
    }

    location ~ ^/(api|management)/? {

        {% if use_gunicorn %}
        proxy_pass  http://{{ nginx_upstream_name }};
        {% elif use_uwsgi %}
        uwsgi_pass  {{ nginx_upstream_name }};
        include uwsgi_params;
        uwsgi_read_timeout {{ nginx_proxy_read_timeout }};
        {% endif %}

        proxy_http_version    1.1;
        proxy_read_timeout    {{ nginx_proxy_read_timeout }};
        proxy_connect_timeout {{ nginx_proxy_connect_timeout }};

        proxy_redirect      off;
        proxy_set_header    Connection "";
        proxy_set_header    Host                    $host;
        proxy_set_header    X-Real-IP               $remote_addr;
        proxy_set_header    X-Forwarded-For         $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Protocol    $scheme;
    }

    location / {
        root           {{ nginx_angular_root }};
        try_files      $uri$args $uri$args/ $uri  /index.html;
    }


}
